.tournaments {
    padding: 2rem 2rem;
    text-align: center;
}

.tournaments__title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    background: linear-gradient(90deg, var(--neon-blue) 0%, var(--neon-purple) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.tournaments__text {
    color: var(--light-gray);
    max-width: 600px;
    margin: 0 auto 3rem;
}

.tournaments__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.tournament__card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;

}

.tournament__card-image-container {
    width: 100%;
    height: 12rem;
}

.tournament__card {
    background: var(--card-bg);
    border-radius: 1rem;
    padding: 0;
    width: 17rem;
    box-shadow: 0 4px 15px rgba(9, 94, 164, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-color);
    transition: all 0.3s ease;
    overflow: hidden;
}

.tournament__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px var(--blue-glow);
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.1) 0%, rgba(255, 0, 255, 0.1) 100%);
    border-color: var(--blue-glow);
}
.tournament__card:hover img {
    scale: 1.1;
}

.tournament__card-button-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.tournament__card-game {
    color: var(--neon-blue);
    font-weight: 600;
}

.tournament__card-price-bagde {
    display: flex;
  box-shadow: #00cfff 0px 0px 10px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 90%;
    padding: 5px 10px;
    background: linear-gradient(90deg, var(--neon-blue) 0%, var(--neon-purple) 100%);
    color: var(--text-color);
    border-radius: 100px;
}

/* .tournament__card-prize {
    color: var(--text-color);
  box-shadow: #00cfff 0px 0px 10px;
    font-weight: 700;
    font-size: 1.1rem;
} */

.tournament__card-content {
    padding: 0 1rem 1rem 1rem;
    text-align: left;
}

.tournament__card-title {
    color: var(--text-color);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.tournament__card-description {
    color: var(--light-gray);
    font-size: 0.9rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.tournament__card-stats {
    /* display: flex; */
}

.tournament__card-stat {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--light-gray);
    font-size: 0.85rem;
}


@media (max-width: 768px) {
    .tournaments__cards {
        flex-direction: column;
        align-items: center;
    }

    .tournament__card {
        width: 100%;
        max-width: 300px;
    }
}